<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Formulario.css">
    <title>Formulario</title>
</head>
<body>

    <form action="/guardar_respuestas" method="post"> <!-- Asumiendo que esto es un formulario -->
    <h1>Formulario</h1>
    <% let caracteristicaAnterior = null; %>
    <% results.forEach((Pregunta) => { %>
        <% if (Pregunta.Categorias !== caracteristicaAnterior) { %>
            <h2><%= Pregunta.Categorias %></h2>
            <% caracteristicaAnterior = Pregunta.Categorias; %>
            <% } %>
        <div class="Cuestion_box">
            <h4><%= Pregunta.preguntas %></h4>
        <div>
            <input type="radio" class="radio-input" name="respuesta_<%= Pregunta.id_preguntas %>" id="respuesta_<%= Pregunta.id_preguntas %>_5" value="5">
            <label class="radio-label" for="respuesta_<%= Pregunta.id_preguntas %>_5">5: Muy de acuerdo</label>
            
            <input type="radio" class="radio-input" name="respuesta_<%= Pregunta.id_preguntas %>" id="respuesta_<%= Pregunta.id_preguntas %>_4" value="4">
            <label class="radio-label" for="respuesta_<%= Pregunta.id_preguntas %>_4">4: De acuerdo</label>
            
            <input type="radio" class="radio-input" name="respuesta_<%= Pregunta.id_preguntas %>" id="respuesta_<%= Pregunta.id_preguntas %>_3" value="3">
            <label class="radio-label" for="respuesta_<%= Pregunta.id_preguntas %>_3">3: Ni de acuerdo, Ni en desacuerdo</label>
            
            <input type="radio" class="radio-input" name="respuesta_<%= Pregunta.id_preguntas %>" id="respuesta_<%= Pregunta.id_preguntas %>_2" value="2">
            <label class="radio-label" for="respuesta_<%= Pregunta.id_preguntas %>_2">2: En desacuerdo</label>
            
            <input type="radio" class="radio-input" name="respuesta_<%= Pregunta.id_preguntas %>" id="respuesta_<%= Pregunta.id_preguntas %>_1" value="1">
            <label class="radio-label" for="respuesta_<%= Pregunta.id_preguntas %>_1">1: Muy en desacuerdo</label>
            
            <input type="radio" class="radio-input" name="respuesta_<%= Pregunta.id_preguntas %>" id="respuesta_<%= Pregunta.id_preguntas %>_ND" value="0">
            <label class="radio-label" for="respuesta_<%= Pregunta.id_preguntas %>_ND">ND: No aplica</label>

            <textarea name="comentario_<%= Pregunta.id_preguntas %>" id="comentario_<%= Pregunta.id_preguntas %>" rows="4" cols="50" placeholder="Añade tu comentario aquí"></textarea>
        </div>
    </div>
    <% }) %>
    <input type="submit" class="submit-button" value="Enviar respuestas">
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $("input[type=radio]").change(function() {
            var preguntaId = $(this).attr("name").replace("respuesta_", "");
            var comentarioTextarea = $("#comentario_" + preguntaId);
    
            if ($(this).val() === "0") {
                comentarioTextarea.prop("disabled", false);
            } else {
                comentarioTextarea.prop("disabled", true);
            }
        });
    });
    </script>

    
</body>
</html>
