<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Incluye Chart.js en el head -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- ... Otras configuraciones del head ... -->
</head>

<body>

    <%let catg=null%>
    <%let Nuevcatg=null%>
    <%let Subc=null%>
    <%let SubcNueva=null%>


    <!-- aqui va el array de las respuesta -->
    <%let rn=[] %>
    <!-- aqui va el array de las subcategorias -->
    <%let Sb=[] %>
    <h2>Respondió correctamente</h2>

    <%let ArrResultado = [] %>

    <div id="respuesta-container">
        <% results.forEach((res,index) => { %>
            <% catg = res.Categorias %>
            <% Subc = res.SubCategorias %>

            <!-- Define ArrResultado fuera del bucle -->
            <% ArrResultado = [] %>

            <!-- Caracteristica -->
            <% if (catg !== Nuevcatg) { %>
                <h1><%= catg %></h1>   
                <% ArrResultado.push({ tipo: 'Caracteristica', valor: catg }) %>
                <% Nuevcatg = catg %>
                <%rn=[]%>
                <%Sb=[]%>

            <% } %>

                <!-- SubCategorias -->
                <% if (Subc !== SubcNueva) { %>
                    
                    <h2><%= res.SubCategorias %></h2>
                    <h4><%= res.respuesta %></h4>
                    <% ArrResultado.push({ tipo: 'SubCategoria', valor: res.SubCategorias }) %>
                    <% ArrResultado.push({ tipo: 'Respuesta', valor: res.respuesta }) %>

                      <!-- guardando los datos al array  --> 
                      <% Sb.push(res.SubCategorias.toString()) %>
                    <% rn.push(res.respuesta)%>
                    
                    <% SubcNueva = Subc %>
                <% } else { %>
                    <h4><%= res.respuesta %></h4>
                    <p><%= res.comentario %></p>
                    <% rn.push(res.respuesta)%>
                    <% ArrResultado.push({ tipo: 'Respuesta', valor: res.respuesta }) %>
                    <% ArrResultado.push({ tipo: 'Comentario', valor: res.comentario }) %>

                    
                <!-- Incluye el canvas dentro del bucle para cada gráfico -->
                <div>
                    <canvas id="myChart<%= catg + index %>"></canvas>
                </div>
                     

                <% } %>
     
        
            <!-- Configuración y datos para la gráfica -->
            <script>
              var labels = null;
                var dataValues = null;
                var Arrs= <%- JSON.stringify(rn) %>;
                var ArrSubc = <%- JSON.stringify(Sb) %>;

                var canvasId = 'myChart' + '<%= catg + index %>';
                var Cts = '<%= catg %>';
                var Sbx = '<%= SubcNueva %>';
                var ctx = document.getElementById(canvasId).getContext('2d');
                var rest = JSON.parse('<%- JSON.stringify(ArrResultado) %>');
                console.log(ArrSubc);

            /*       // Destruir el gráfico anterior antes de crear uno nuevo
                if (window.myChart) {
                    window.myChart.destroy();
                }
 */
  // Transforma el array de objetos en dos arrays separados
    var labels = rest.map(item => item.tipo);
    var dataValues = rest.map(item => item.valor);
    
/*     console.log(dataValues);

if (dataValues[0]== Cts ){

    console.log('Soy categoria ');
    console.log(dataValues[1],dataValues[2]);
  



}else{
    console.log('Soy igual')
    console.log(dataValues[0]);
   

}

console.log('datos del array:');
console.log(Sbx);
 */



    var data = {
    labels:Arrs, 
    datasets: [{
        label: ArrSubc,
        data:Arrs,
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1
    }]
};

    var options = {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    };
    var myChart = new Chart(ctx, {
    type: 'bar', // Cambiado a 'bar' para un gráfico de barras
    data: data,
    options: options
});



    
            </script>

         
        <% }) %>
    </div>

</body>

</html>
